---
layout: page
slide_id: 4
---


        {% for day in site.data.schedule %}
        <div>
            <h4 class="schedule-table-heading">{{ day.dateReadable }} - Day {{ forloop.index }}</h4>
            <table class="table table-bordered table-striped table-hover table-responsive table-sm">
            {% for timeslot in day.timeslots %}
                    <thead>
                            <tr>
                                <th class="bg-info text-center">
                                        <div>{{timeslot.startTime}}-{{timeslot.endTime}}</div>
                                </th>
                                {% if timeslot.type == "service" %}
                                    <th class="bg-warning text-center">
                                            <p class="text-muted">{{timeslot.title}}</p>
                                    </th>
                                {% else %}
                                    <th class="bg-primary text-center">
                                            <h5>{{timeslot.title}}</h5>
                                            {% if timeslot.speaker %}
                                            <h5>{{timeslot.speaker}}</h5>
                                            {% endif %}
                                            {% if timeslot.chair %}
                                                <h6>Session chair:{{timeslot.chair}}</h6>
                                            {% endif %}
                                    </th>
                                {% endif %}
                            </tr>
                    </thead>
                    {% if timeslot.events %}
                    <tbody>
                        {% for event in timeslot.events %}
                            <tr>
                                <td width="20%">
                                </td>
                                <td>
                                    <p><b>{{event.title}}</b></p>
                                    <p><i>{{event.speakers}}</i></p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    {% endif %}
            {% endfor %}
            </table>
        </div>
        {% endfor %}

        <h4>Invited Speakers</h4>


        <h5><a href="https://www.site.uottawa.ca/~afelty/">Amy Felty</a></h5>
        <p>School of Electrical Engineering and Computer Science (EECS), University of Ottawa. </p>
        <p><center><img class="img-fluid" src="./assets/images/AmyFelty.jpg"></center></p>
        <p><b>Bio:</b> Amy Felty is a Professor of Computer Science at the
        University of Ottawa. Her research focuses on formal methods,
        particularly interactive theorem proving, and she has over 25 years of
        experience in applying them in various domains. In particular, she has
        worked in the area of logical frameworks and their application in
        domains such as programming languages, systems biology, privacy and
        security, and proof theory. She is on the editorial board of several
        journals, including the Journal of Automated Reasoning. She is currently
        the Chair of the National Science and Engineering Research Council of
        Canada's Discovery Evaluation Group for Computer Science, and Treasurer
        of the ACM Special Interest Group on Logic and Computation. She holds a
        Ph.D. in Computer Science from the University of Pennsylvania.</p>

        <h5> <a href="https://lcs.ios.ac.cn/~bzhan/">Bohua Zhan</a></h5>
        <p>State Key Laboratory of Computer Science, Institute of Software, Chinese Academy of Sciences.</p>
        <p><center><img class="img-fluid" src="./assets/images/Bohua.jpg"></center></p>
        <p><b>Bio:</b> Bohua Zhan is an associate research professor at Institute of Software, Chinese Academy of Sciences. He previously worked as postdoc at the Technical University of Munich, and at Massachusetts Institute of Technology. His research interests include proof automation in interactive theorem proving, with applications to program verification and formalization of mathematics. Recently he worked on implementation of a new interactive theorem prover in Python. He also worked on modeling, simulation and verification of embedded systems, and verification of quantum programs.</p>

        <h4>Program</h4>
        <p> Coming soon. </p>

        {% include contact-us.html %}
    </div>
