---
layout: page
slide_id: 4
---


        {% for day in site.data.schedule %}
        <div>
            <h4 class="schedule-table-heading">{{ day.dateReadable }} - Day {{ forloop.index }}</h4>
            <table class="table table-bordered table-striped table-hover table-responsive table-sm">
            {% for timeslot in day.timeslots %}
                    <thead>
                            <tr>
                                <th class="bg-info text-center">
                                        <div>{{timeslot.startTime}}-{{timeslot.endTime}}</div>
                                </th>
                                {% if timeslot.type == "service" %}
                                    <th class="bg-warning text-center">
                                            <p class="text-muted">{{timeslot.title}}</p>
                                    </th>
                                {% else %}
                                    <th class="bg-primary text-center">
                                            <h5>{{timeslot.title}}</h5>
                                            {% if timeslot.speaker %}
                                            <h5>{{timeslot.speaker}}</h5>
                                            {% endif %}
                                            {% if timeslot.chair %}
                                                <h6>Session chair:{{timeslot.chair}}</h6>
                                            {% endif %}
                                    </th>
                                {% endif %}
                            </tr>
                    </thead>
                    {% if timeslot.events %}
                    <tbody>
                        {% for event in timeslot.events %}
                            <tr>
                                <td width="20%">
                                </td>
                                <td>
                                    <p><b>{{event.title}}</b></p>
                                    <p><i>{{event.speakers}}</i></p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    {% endif %}
            {% endfor %}
            </table>
        </div>
        {% endfor %}

        <h4>Invited Speakers</h4>


        <h5><a href="https://www.site.uottawa.ca/~afelty/">Amy Felty</a></h5>
        <p>School of Electrical Engineering and Computer Science (EECS), University of Ottawa. </p>
        <p><center><img class="img-fluid" src="./assets/images/AmyFelty.jpg"></center></p>
        <p><b>Bio:</b> Amy Felty is a Professor of Computer Science at the
        University of Ottawa. Her research focuses on formal methods,
        particularly interactive theorem proving, and she has over 25 years of
        experience in applying them in various domains. In particular, she has
        worked in the area of logical frameworks and their application in
        domains such as programming languages, systems biology, privacy and
        security, and proof theory. She is on the editorial board of several
        journals, including the Journal of Automated Reasoning. She is currently
        the Chair of the National Science and Engineering Research Council of
        Canada's Discovery Evaluation Group for Computer Science, and Treasurer
        of the ACM Special Interest Group on Logic and Computation. She holds a
        Ph.D. in Computer Science from the University of Pennsylvania.</p>

        <h5> <a href="https://lcs.ios.ac.cn/~bzhan/">Bohua Zhan</a></h5>
        <p>State Key Laboratory of Computer Science, Institute of Software, Chinese Academy of Sciences.</p>
        <p><center><img class="img-fluid" src="./assets/images/Bohua.jpg"></center></p>
        <p><b>Bio:</b> Bohua Zhan is an associate research professor at Institute of Software, Chinese Academy of Sciences. He previously worked as postdoc at the Technical University of Munich, and at Massachusetts Institute of Technology. His research interests include proof automation in interactive theorem proving, with applications to program verification and formalization of mathematics. Recently he worked on implementation of a new interactive theorem prover in Python. He also worked on modeling, simulation and verification of embedded systems, and verification of quantum programs.</p>

        <h4>List of Accepted Papers</h4>
        <ul>
        <li><b>Accelerating Verified-Compiler Development with a Verified Rewriting Engine</b>, Jason Gross, Andres Erbsen, Miraya Poddar-Agrawal, Jade Philipoom, Adam Chlipala</li>
        <li><b>A Complete, Mechanically-Verified Proof of the Banach-Tarski Theorem in ACL2(r)</b>, Jagadish Bapanapally, Ruben Gamboa</li>
        <li><b>Automatic Test-Case Reduction in Proof Assistants: A Case Study in Coq</b>, Jason Gross, Théo Zimmermann, Miraya Poddar-Agrawal, Adam Chlipala</li>
        <li><b>A Verified Cyclicity Checker</b>, Arve Gengelbach, Johannes Åman Pohjola</li>
        <li><b>Candle: A Verified Implementation of HOL Light</b>, Oskar Abrahamsson,  Magnus O. Myreen, Ramana Kumar, Thomas Sewell</li>
        <li><b>Compositional Verification of Interacting Systems using Event Monads</b>, Bohua Zhan, Yi Lv, Shuling Wang, Gehang Zhao, Jifeng Hao, Ye Hong, Bican Xia</li>
        <li><b>Computational Back-and-Forth Arguments in Constructive Type Theory</b>, Dominik Kirst</li>
        <li><b>Dandelion: Certified Approximations of Elementary Functions</b>, Heiko Becker, Mohit Tekriwal, Eva Darulova, Anastasia Volkova, Jean-Baptiste Jeannin</li>
        <li><b>Deeper Shallow Embeddings</b>, Jacob Prinz, Alex Kavvos, Leonidas Lampropoulos</li>
        <li><b>Formalising Fisher’s Inequality: Formal Linear Algebraic Techniques in Combinatorics</b>, Chelsea Edmonds, Lawrence C. Paulson</li>
        <li><b>Formalization of a Stochastic Approximation Theorem</b>, Koundinya Vajjha, Barry Trager, Avraham Shinnar, Vasily Pestun</li>
        <li><b>Formalization of Randomized Approximation Algorithms for Frequency Moments</b>, Emin Karayel</li>
        <li><b>Formalized functional analysis with semilinear maps</b>, Frédéric Dupuis, Robert Lewis, Heather Macbeth</li>
        <li><b>Formalizing Algorithmic Bounds in the Query Model in EasyCrypt</b>, Alley Stoughton, cchen20@stuy.edu, Marco Gaboardi, Weihao Qu</li>
        <li><b>Formalizing Szemerédi's Regularity Lemma in Lean</b>, Bhavik Mehta, Yaël Dillies</li>
        <li><b>Formalizing the divergence theorem and the Cauchy integral formula in Lean</b>, Yury Kudryashov</li>
        <li><b>Formalizing the ring of adèles of a global field</b>, María Inés de Frutos-Fernández</li>
        <li><b>Formalizing the set of primes as an alternative to the DPRM theorem</b>, Karol Pąk, Cezary Kaliszyk</li>
        <li><b>Kalas: A Verified, End-to-End Compiler for a Choreographic Language</b>, Johannes Åman Pohjola, Alejandro Gómez-Londoño, James Shaker, Michael Norrish</li>
        <li><b>Mechanizing Soundness of Off-Policy Evaluation</b>, Jared Yeager, Eliot Moss, Michael Norrish, Philip Thomas</li>
        <li><b>Proof Pearl: Formalizing Spreads and Packings of the Smallest Projective Space PG(3,2) using the Coq Proof Assistant</b>, Nicolas Magaud</li>
        <li><b>Refinement of Parallel Algorithms down to LLVM</b>, Peter Lammich</li>
        <li><b>Reflexive tactics for algebra, revisited</b>, Kazuhiko Sakaguchi</li>
        <li><b>Seventeen Provers under the Hammer</b>, Martin Desharnais, Petar Vukmirović, Jasmin Blanchette, Makarius Wenzel</li>
        <li><b>Synthetic Kolmogorov Complexity in Coq</b>, Yannick Forster, Fabian Kunze, Nils Lauermann</li>
        <li><b>Taming an Authoritative Armv8 ISA Specification: L3 Validation and CakeML Compiler Verification</b>, Hrutvik Kanabar, Anthony C. J. Fox, Magnus O. Myreen</li>
        <li><b>The Isabelle ENIGMA</b>, Zarathustra Goertzel, Jan Jakubův, Cezary Kaliszyk, Miroslav Olšák, Jelle Piepenbrock, Josef Urban</li>
        <li><b>The Zoo of Lambda-Calculus Reduction Strategies, and Coq</b>, Małgorzata Biernacka, Witold Charatonik, Tomasz Drab</li>
        <li><b>Undecidability of Dyadic First-Order Logic in Coq</b>, Johannes Hostert, Andrej Dudenhefner, Dominik Kirst</li>
        <li><b>Use and abuse of instance parameters in the Lean mathematical library</b>, Anne Baanen</li>
        <li><b>Verifying a Sequent Calculus Prover for First-Order Logic with Functions in Isabelle/HOL</b>, Asta Halkjær From, Frederik Krogsdal Jacobsen</li>
        </ul>
        <h4>Program</h4>
        <p> Coming soon. </p>

        {% include contact-us.html %}
    </div>
